div :has(div) {
    color:green !important;
}

.c {
    display: block;
}

.d .b {
    font: normal normal 700 normal 20px / 1.5 "moo" !important;
}


.x.z {
    color: black;
}
.meow { /* this should take precedence if tied with h1, since higher specificity */
    color: gray;
}

h1 { 
    color: black;
}

div.d1.pogdiv div.d2 p {
    color:aquamarine;
}
